form.input {
  display: block;
}

/* HEADER */

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header>.header-container {
  max-width: 800px;
  margin: 0 auto;
}

.header-container>h1 {
  text-align: left;
}

.MuiFab-root {
  background-color: #f17a56 !important;
  position: absolute !important;
  bottom: 5vh;
  right: 5vw;
}

.MuiFab-label {
  font-size: 32px;
  color: rgb(228, 228, 228);
}



.App-link {
  color: #61dafb;
}

/* HEADER */

.MuiFab-root {
  background-color: #f17a56;
}

/* FORM MENU */

.form-controller {
  height: 100vh;
  z-index: 10;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  background-color: white;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-control {
  width: 100%;
  margin-bottom: 20px !important;
}

/* MAIN BODY */

.main {
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  display: block;
}

/* ITEMS */

.item {
  border-bottom: 1px solid rgb(133, 133, 133);
}

.item-checkbox {
  width: 10%;
  display: inline-flex;
  justify-content: center;
}

.item-content {
  width: 85%;
  display: inline-block;
}

.item-delete-btn {
  width: 5%;
  display: inline-flex;
  justify-content: center;
}

.item h2 {
  font-weight: normal;
  margin-bottom: 0;
}

.item p {
  margin-top: 5px;
}

/* RESPONSIVE QUERYS */